:root {
  --main-bg-color: #fafafa;
  --accent-color: #f7941e;
  --second-bg-color: #ffffff;
  --third-bg-color: #fafafa;
  --text-color: #000000;
  --second-text-color: #ffffff;
  --logo-color: #231f20;
  --btn-bg-color: #231f20;
  --btn-text-color: #ffffff;
  --hero-bg-color: #f1f1f2;
}

body {
  background-color: var(--second-bg-color);
  color: var(--text-color);

  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 1.38;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

.btn {
  display: inline-block;
  border: 1px solid var(--accent-color);
  border-radius: 5px;

  color: var(--accent-color);

  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}

.nav-btn:hover,
.hero-btn:hover,
.hero-sab-btn:hover,
.nav-btn:focus,
.hero-btn:focus,
.hero-sab-btn:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.container {
  width: 1190px;

  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  font-family: 'Homemade Apple';
  font-size: 18px;
  line-height: 2.16;
}

/* header start */
.bg-color {
  background-color: var(--main-bg-color);
}

.header-container {
  width: 1325px;

  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 433px;

  color: var(--logo-color);
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 31px;
}

.nav-item-link {
  display: block;
  padding-top: 47px;
  padding-bottom: 47px;

  color: var(--text-color);
}

.nav-btn {
  min-width: 150px;
  background-color: var(--main-bg-color);

  margin-left: auto;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 24px;
}
/* header end */

/* hero start */
.hero {
  background-color: var(--hero-bg-color);
}

.hero-flex {
  display: flex;
}

.hero-title {
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.23;
}

.hero-item {
  position: relative;
  width: 50%;

  padding-top: 155px;
  padding-right: 126px;
  padding-left: 27px;
  padding-bottom: 136px;
}

.hero-text {
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 1.4;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;

  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 25px;

  border-radius: 5px;
}

.hero-img {
  position: absolute;
  left: 50%;
}

.hero-left {
  position: relative;
  margin-left: auto;
  width: 50%;

  padding-top: 165px;
  padding-right: 31px;
  padding-bottom: 107px;
  padding-left: 112px;
}

.hero-sab-title {
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
}

.sab-text {
  margin-bottom: 35px;
}

.hero-sab-btn {
  display: inline-block;
  min-width: 200px;
  padding-top: 21px;
  padding-right: 46px;
  padding-bottom: 14px;
  padding-left: 47px;
}

.hero-sab-img {
  position: absolute;
  right: 50%;
}

/* hero end */

/* gift start */
.gift-container {
  width: 1190px;
  outline: 1px solid rosybrown;
}

.gift-content {
  padding-top: 96px;
  padding-bottom: 137px;
}

.gift-title {
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
}

.gift-text {
  margin-bottom: 64px;
  text-align: center;
}

.gift-inner {
  display: flex;
}

.gift-item:not(:last-child) {
  margin-right: 30px;
}

.gift-box {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: var(--third-bg-color);
}

.gift-item:hover {
  background-color: var(--second-bg-color);
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.gift-item-title {
  margin-bottom: 74px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.gift-link {
  color: var(--text-color);
  line-height: 1.35;
}
/* gift end */

/* signup start */
.signup {
  background-color: var(--accent-color);
}

.signup-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signup-content {
  font-size: 32px;
  line-height: 1.4;
}

.signup-title {
  font-size: 32px;
}

.signup-box {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.signup-item {
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.signup-item:not(:last-child) {
  margin-right: 16px;
}

.signup-link {
  display: inline-block;
  padding-top: 17px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 17px;

  color: var(--text-color);
  line-height: 1.33;
  text-transform: uppercase;
}

.signup-item:hover,
.signup-item:focus {
  background-color: var(--text-color);
}

.signup-link:hover,
.signup-link:focus {
  color: var(--btn-text-color);
}
/* signup end */

/* blogs start */
.section {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blogs-content {
  text-align: center;
}

.blogs-title {
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
}

.blogs-subtitle {
  margin-bottom: 71px;

  line-height: 1.33;
}

.blogs-aside {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  background-color: var(--text-color);
}

.blogs-aside--inner {
  margin-left: 78px;
  color: var(--second-bg-color);
}

.blogs-aside--text {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 1.42;
}

.blogs-aside--title {
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
}

.blogs-aside--link {
  color: var(--second-text-color);
}

.blogs-card {
  display: flex;
}

.blogs-card--inner {
  padding-top: 48px;
  padding-right: 48px;
  padding-bottom: 50px;
  padding-left: 48px;
}

.blogs-card--inner:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blogs-card--inner:not(:last-child) {
  margin-right: 30px;
}

.blogs-card--title {
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 1.41;
}

.blogs-card--text {
  margin-bottom: 16px;
}

.blogs-card--link {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.42;
}
/* blogs end */

/* footer start */
.footer {
  position: relative;
  background-color: var(--main-bg-color);
}

.footer-inner {
  display: flex;
  justify-content: center;
  padding-top: 115px;
}

.footer-inner::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  width: 1000px;
  height: 1px;
  background-color: var(--text-color);
}

.footer-nav,
.footer-site {
  display: flex;
}

.footer-site {
  margin-bottom: 43px;
}

.footer-nav--item:not(:last-child) {
  margin-right: 81px;
}

.footer-nav--link,
.footer-site--link {
  color: var(--text-color);

  font-weight: 700;
  line-height: 1.42;
}

.footer-logo {
  margin-left: 141px;
  margin-right: 141px;
  color: var(--accent-color);
}

.footer-site--item:not(:last-child) {
  margin-right: 54px;
}

.footer-socials {
  display: flex;
  justify-content: center;

  margin-bottom: 72px;
  margin-top: 55px;
}

.footer-socials--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-socials--item:not(:last-child) {
  margin-right: 24px;
}

.footer-socials--svg {
  display: block;
  width: 38px;
  height: 38px;
}

.footer-copy {
  padding-bottom: 35px;
  text-align: center;
}

.footer-copy--text {
  margin-left: 14px;
}
/* footer end */
